.App{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.Navbar{
    position: fixed;
    top: 0; left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid;
    width: 100vw;
    height: 60px;
    padding: 0 20px ;
}

.userInput{
    margin-right: 20px;
}
.Counters{
    display: flex ;
    flex-direction: column;
    width: 200px;
}